@model Klangshop.Models.ViewModels.Account.CustNavPartialVM

<li class="navbar-text align-items-center"><a href="/Klangshop/User-Profile" style="text-decoration: none; color: dodgerblue">(@Model.Name @Model.LName)</a></li>