@{
    ViewBag.Title = "Політика конфіденційності";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="bg-light">
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <h1>Політика конфіденційності</h1>
        <p>Останнє оновлення: 03 січня 2023 року</p>
        <p>
            Ця Політика конфіденційності описує нашу політику та процедури щодо збору, використання та розкриття Вашої
            інформації, коли Ви користуєтесь Послугою, а також розповідає про Ваші права на конфіденційність та про те, як
            закон захищає Вас.
        </p>
        <p>
            Ми використовуємо Ваші Персональні дані для надання та вдосконалення Сервісу. Використовуючи Сервіс, Ви
            погоджуєтеся на збір і використання інформації відповідно до цієї Політики конфіденційності.
        </p>
        <h2>Інтерпретація та визначення</h2>
        <h4>Інтерпретація</h4>
        <p>
            Слова, початкова буква яких пишеться з великої літери, мають значення, що визначаються за таких умов. Наведені
            нижче Наведені нижче визначення мають однакове значення незалежно від того, в однині чи множині вони вживаються.
        </p>
        <h4>Визначення</h4>
        <p>Для цілей цієї Політики конфіденційності:</p>
        <ul>
            <li>
                <p>
                    <strong>Обліковий запис</strong> означає унікальний обліковий запис, створений для Вас для доступу до
                    нашого Сервісу або частин нашого Сервісу.
                </p>
            </li>
            <li>
                <p>
                    <strong>Компанія</strong> (іменована в цій Угоді як "Компанія", "Ми", "Нас", "Нас" або "Наш" в цій Угоді)
                    має на увазі KlangShop.
                </p>
            </li>
            <li>
                <p>
                    <strong>Файли cookie</strong> - це невеликі файли, які розміщуються на Вашому комп'ютері, мобільному
                    пристрої або будь-якому іншому пристрої веб-сайтом, що містять інформацію про історію Вашого перегляду
                    на цьому веб-сайті серед багатьох інших видів його використання.
                </p>
            </li>
            <li>
                <p><strong>Країна</strong> відноситься до: Україна</p>
            </li>
            <li>
                <p>
                    <strong>Пристрій</strong> означає будь-який пристрій, який може отримати доступ до Сервісу, наприклад,
                    комп'ютер, мобільний телефон або цифровий планшет.
                </p>
            </li>
            <li>
                <p>
                    <strong>Персональні дані</strong> - це будь-яка інформація, яка стосується фізичної особи, яка
                    ідентифікована або може бути ідентифікована.
                </p>
            </li>
            <li>
                <p>Під <strong>"Сервісом"</strong> мається на увазі Веб-сайт.</p>
            </li>
            <li>
                <p>
                    <strong>Постачальник послуг</strong> - будь-яка фізична або юридична особа, яка обробляє дані від імені
                    Компанії. Це стосується сторонніх компаній або фізичних осіб, найнятих Компанією для сприяння Сервісу,
                    надання Сервісу від імені Компанії, виконання послуг, пов'язаних з Сервісом або для надання допомоги
                    Компанії в аналізі того, як використовується Сервіс.
                </p>
            </li>
            <li>
                <p>
                    <strong>Дані про використання</strong> - це дані, зібрані автоматично, або згенеровані в результаті
                    використання Сервісу, або з самої інфраструктури Сервісу. Сервісу або з самої інфраструктури Сервісу
                    (наприклад, тривалість відвідування сторінки).
                </p>
            </li>
            <li>
                <p>
                    <strong>Сайт</strong> відноситься до KlangShop, доступний за адресою <a href="klangshop.ua"
                                                                                            rel="external nofollow noopener" target="_blank">klangshop.ua</a>
                </p>
            </li>
            <li>
                <p>
                    <strong>Ви</strong> означає фізичну особу, яка отримує доступ до Сервісу або використовує його, або
                    компанію, або іншу юридичну особу, від імені якої така фізична особа отримує доступ до Сервісу або
                    використовує його. особа, від імені якої така особа отримує доступ до Послуги або користується нею,
                    залежно від обставин.
                </p>
            </li>
        </ul>
        <h2>Збір та використання Ваших персональних даних</h2>
        <h3>Типи зібраних даних</h3>
        <h4>Персональні дані</h4>
        <p>
            Під час користування Нашим Сервісом Ми можемо попросити Вас надати Нам певну особисту інформацію, яка може бути
            використовуватися для зв'язку з Вами або для Вашої ідентифікації. Інформація, що дозволяє ідентифікувати особу,
            може включати, але не обмежується цим:
        </p>
        <ul>
            <li>
                <p>Адреса електронної пошти</p>
            </li>
            <li>
                <p>Дані про використання</p>
            </li>
        </ul>
        <h4>Дані про використання</h4>
        <p>Дані про використання збираються автоматично при використанні Сервісу.</p>
        <p>
            Дані про використання можуть включати таку інформацію, як адреса Інтернет-протоколу Вашого Пристрою (наприклад,
            IP-адреса), браузер тип версія браузера, сторінки нашого Сервісу, які Ви відвідуєте, час і дата Вашого
            відвідування, час, проведений на ці сторінки, унікальні ідентифікатори пристрою та інші діагностичні дані.
        </p>
        <p>
            Коли Ви отримуєте доступ до Послуги за допомогою або через мобільний пристрій, Ми можемо автоматично збирати
            певну інформацію, включаючи, але не обмежуючись цим, тип мобільного пристрою, який Ви використовуєте, унікальний
            ідентифікатор Вашого мобільного пристрою, IP-адресу Вашого мобільного пристрою, IP-адресу Вашого мобільного
            пристрою, Вашу мобільну операційну систему, тип мобільного інтернет-браузера, який Ви використовуєте, унікальні
            ідентифікатори пристрою та інші діагностичні дані.
        </p>
        <p>
            Ми також можемо збирати інформацію, яку Ваш браузер надсилає щоразу, коли Ви відвідуєте наш Сервіс або коли Ви
            отримуєте доступ до Сервіс за допомогою мобільного пристрою або через нього.
        </p>
        <h4>Технології відстеження та файли cookie</h4>
        <p>
            Ми використовуємо файли cookie та подібні технології відстеження для відстеження Використовувані технології
            відстеження - це маячки, теги та скрипти для збору та відстеження інформації, а також для покращення та аналізу
            нашого Сервісу. Технології, які Ми використовуємо, можуть включати:
        </p>
        <ul>
            <li>
                <strong>Cookies або Cookies браузера.</strong> Cookies - це невеликий файл, розміщений на Вашому Пристрої.
                Ви можете доручити Вашому браузеру відмовлятися від усіх файлів cookie або вказувати, коли надсилається файл
                cookie. Однак, якщо Ви не приймаєте Файли cookie, Ви, можливо, не зможете використовувати деякі частини
                нашого Сервісу. Якщо тільки Ви не налаштували Ваш браузер таким чином щоб він відмовлявся від файлів cookie,
                наш Сервіс може використовувати файли cookie.
            </li>
            <li>
                <strong>Веб-маяки.</strong> Деякі розділи нашого Сервісу і наші електронні листи можуть містити невеликі
                електронні файли відомі як веб-маяки (також звані прозорими gif-файлами, піксельними тегами та
                однопіксельними gif-файлами), які дозволяють Компанії, наприклад, підраховувати користувачів, які відвідали
                ці сторінки або відкрили електронний лист, а також збирати іншу пов'язану статистики веб-сайту (наприклад,
                облік популярності певного розділу і перевірка системи і сервер цілісність системи і сервера).
            </li>
        </ul>
        <p>
            Файли cookie можуть бути "постійними" або "сесійними". Постійні файли cookie залишаються на Вашому персональному
            комп'ютері або мобільному пристрої, коли Ви виходите з мережі, в той час як сесійні файли cookie видаляються, як
            тільки Ви закриваєте веб-браузер. браузер.
        </p>
        <p>Ми використовуємо як сесійні, так і постійні файли cookie для цілей, викладених нижче:</p>
        <ul>
            <li>
                <p><strong>Необхідні / основні файли cookie</strong></p>
                <p>Тип: Сесійні файли cookie</p>
                <p>Адміністратор: Ми</p>
                <p>
                    Мета: Ці файли cookie необхідні для надання Вам послуг, доступних через Веб-сайт, а також для дозволити
                    Вам використовувати деякі його функції. Вони допомагають аутентифікувати користувачів і запобігти
                    шахрайському використанню облікових записів користувачів. облікових записів користувачів. Без цих файлів
                    cookie послуги, які Ви запросили, не можуть бути надані, і Ми лише використовуємо ці файли cookie тільки
                    для того, щоб надати Вам ці послуги.
                </p>
            </li>
            <li>
                <p><strong>Політика щодо файлів cookie / Повідомлення про прийняття файлів cookie</strong></p>
                <p>Тип: Постійні файли cookie</p>
                <p>Адміністратор: Ми</p>
                <p>
                    Мета: Ці файли cookie визначають, чи погодилися користувачі на використання файлів cookie на Веб-сайті.
                </p>
            </li>
            <li>
                <p><strong>Функціональні файли cookie</strong></p>
                <p>Тип: Постійні файли cookie</p>
                <p>Адміністратор: Ми</p>
                <p>
                    Мета: Ці файли cookie дозволяють нам запам'ятовувати вибір, який Ви робите під час використання
                    Веб-сайту, наприклад запам'ятовування ваші дані для входу або мовні уподобання. Мета цих файлів cookie
                    полягає в тому, щоб надати Вам більш особистий досвід і уникнути необхідності повторного введення Ваших
                    налаштувань кожного разу, коли Ви використовуєте Веб-сайт.
                </p>
            </li>
        </ul>
        <p>
            Для отримання додаткової інформації про файли cookie, які ми використовуємо, а також про ваш вибір щодо файлів
            cookie, будь ласка, відвідайте нашу Політику використання файлів cookie або розділ "Файли cookie" нашої Політики
            конфіденційності.
        </p>
        <h4>Використання Ваших персональних даних</h4>
        <p>Компанія може використовувати Персональні дані в наступних цілях:</p>
        <ul>
            <li>
                <p>
                    <strong>Надавати та підтримувати наш Сервіс</strong>, включаючи моніторинг використання нашого Сервісу.
                </p>
            </li>
            <li>
                <p>
                    <strong>Керувати своїм обліковим записом:</strong> керувати своєю реєстрацією в якості користувача
                    Сервісу. Для цього використовується Персональні Дані, які Ви надаєте, можуть надати Вам доступ до різних
                    функціональних можливостей Сервісу, які доступні для Вам як зареєстрованому користувачеві.
                </p>
            </li>
            <li>
                <p>
                    <strong>Для виконання контракту:</strong> розробка, дотримання та взяття на себе зобов'язань за договору
                    купівлі-продажу придбаних Вами продуктів, товарів чи послуг або будь-якого іншого договору з Нами через
                    Сервіс.
                </p>
            </li>
            <li>
                <p>
                    <strong>To contact You:</strong> To contact You by email, telephone calls, SMS, or other equivalent forms
                    of
                    electronic communication, such as a mobile application's push notifications regarding updates or
                    informative
                    communications related to the functionalities, products or contracted services, including the security
                    updates, when necessary or reasonable for their implementation.
                </p>
            </li>
            <li>
                <p>
                    <strong>Надавати Вам</strong> новини, спеціальні пропозиції та загальну інформацію про інші товари,
                    послуги та заходах, які ми пропонуємо, які схожі на ті, що Ви вже придбали або про які Ви запитували
                    якщо тільки Ви не вирішили не отримувати таку інформацію.
                </p>
            </li>
            <li>
                <p><strong>Керувати Вашими запитами:</strong> Відвідувати та керувати Вашими запитами до Нас.</p>
            </li>
            <li>
                <p>
                    <strong>Для передачі бізнесу:</strong> Ми можемо використовувати Вашу інформацію для оцінки або
                    проведення злиття, продажу, реструктуризації, реорганізації, ліквідації або іншого продажу чи передачі
                    деяких або всіх наших активів, будь то як безперервне підприємство або як частина банкрутства,
                    ліквідації або подібної процедури, в в якому Персональні дані, що зберігаються нами про користувачів
                    наших Сервісів, є одними з активів, що передаються.
                </p>
            </li>
            <li>
                <p>
                    <strong>Для інших цілей</strong>: Ми можемо використовувати Вашу інформацію для інших цілей, таких як
                    аналіз виявлення тенденцій використання, визначення ефективності наших рекламних кампаній, а також для
                    оцінки та покращення нашого Сервісу, продуктів, послуг, маркетингу та Вашого досвіду.
                </p>
            </li>
        </ul>
        <p>Ми можемо передавати Вашу особисту інформацію в наступних ситуаціях:</p>
        <ul>
            <li>
                <strong>З Постачальниками послуг:</strong> Ми можемо ділитися Вашою особистою інформацією з Постачальниками
                послуг, щоб моніторингу та аналізу використання нашого Сервісу, для зв'язку з Вами.
            </li>
            <li>
                <strong>Для ділової передачі:</strong> Ми можемо ділитися або передавати Вашу особисту інформацію у зв'язку
                з з або під час переговорів про будь-яке злиття, продаж активів Компанії, фінансування або придбання всіх
                або частини всього або частини нашого бізнесу іншій компанії.
            </li>
            <li>
                <strong>З афілійованими особами:</strong> Ми можемо ділитися Вашою інформацією з нашими афілійованими
                особами, і в цьому випадку ми будемо вимагатимемо від цих афілійованих осіб дотримуватися цієї Політики
                конфіденційності. До афілійованих осіб належать наша материнська компанія та будь-які інші дочірні компанії,
                партнери по спільним підприємствам або інші компанії, які ми контролюємо або які перебувають під спільним
                контролем з нами.
            </li>
            <li>
                <strong>З діловими партнерами:</strong> Ми можемо ділитися Вашою інформацією з нашими діловими партнерами,
                щоб запропонувати Вам певні продукти, послуги або акції.
            </li>
            <li>
                <strong>З іншими користувачами:</strong> коли Ви ділитеся особистою інформацією або іншим чином взаємодієте
                в публічних місцях з іншими користувачами, така інформація може бути переглянута всіма користувачами і може
                бути публічно поширена назовні.
            </li>
            <li>
                <strong>З Вашої згоди</strong>: Ми можемо розкрити Вашу особисту інформацію для будь-яких інших цілей з
                Вашої згоди.
            </li>
        </ul>
        <h4>Зберігання Ваших персональних даних</h4>
        <p>
            Компанія буде зберігати Ваші Персональні дані лише стільки, скільки це необхідно для цілей, викладених в цій
            Політиці конфіденційності Політикою конфіденційності. Ми будемо зберігати і використовувати Ваші Персональні
            дані в обсязі, необхідному для виконання наших юридичних зобов'язань (наприклад наприклад, якщо ми зобов'язані
            зберігати Ваші дані для дотримання чинного законодавства), вирішувати суперечки та забезпечувати виконання наші
            юридичні угоди та політики.
        </p>
        <p>
            Компанія також зберігатиме Дані про використання для цілей внутрішнього аналізу. Дані про використання, як
            правило, зберігаються протягом коротший період часу, за винятком випадків, коли ці дані використовуються для
            посилення безпеки або поліпшення функціональності нашого Сервісу, або коли ці дані використовуються для
            посилення безпеки або поліпшення функціональності Нашого Сервісу, або ми юридично зобов'язані зберігати ці дані
            протягом більш тривалих періодів часу.
        </p>
        <h4>Передача Ваших персональних даних</h4>
        <p>
            Ваша інформація, включаючи Персональні дані, обробляється в операційних офісах Компанії та в будь-яких інших
            місцях де знаходяться сторони, що беруть участь в обробці. Це означає, що ця інформація може бути передана і
            зберігатися на комп'ютерах, розташованих за межами Вашого штату, провінції, країни або іншої урядової юрисдикції
            де закони про захист даних можуть відрізнятися від законів Вашої юрисдикції.
        </p>
        <p>
            Ваша згода з цією Політикою конфіденційності з подальшим наданням такої інформації означає Вашу згоду з тим, що
            цю передачу.
        </p>
        <p>
            Компанія вживатиме всіх розумно необхідних заходів для забезпечення безпечного поводження з Вашими даними та у
            відповідно до з цією Політикою конфіденційності, і жодна передача Ваших персональних даних не буде відбуватися в
            організацію або країну за винятком випадків, коли існують адекватні засоби контролю, включаючи безпеку Ваших
            даних та іншої особистої інформації.
        </p>
        <h4>Видалення Ваших персональних даних</h4>
        <p>Ви маєте право видалити або вимагати від Нас сприяння у видаленні Персональних даних, які Ми зібрали про Вас.</p>
        <p>Наш Сервіс може надати Вам можливість видалити певну інформацію про Вас з Сервісу.</p>
        <p>
            Ви можете оновити, змінити або видалити Вашу інформацію в будь-який час, увійшовши до свого Облікового запису,
            якщо він у Вас є, та відвідавши розділ налаштувань облікового запису, який дозволяє Вам керувати Вашою особистою
            інформацією. Ви також можете звернутися до з нами щоб запросити доступ, виправити або видалити будь-яку особисту
            інформацію, яку Ви нам надали.
        </p>
        <p>
            Зверніть увагу, однак, що нам може знадобитися зберігати певну інформацію, коли у нас є юридичне зобов'язання або
            законна підстави для цього.
        </p>
        <h3>Розкриття Ваших персональних даних</h3>
        <h4>Бізнес-транзакції</h4>
        <p>
            Якщо Компанія бере участь у злитті, поглинанні або продажу активів, Ваші Персональні дані можуть бути передані.
            Ми будемо надамо повідомлення до того, як Ваші Персональні дані будуть передані і стануть предметом іншої
            Політики конфіденційності.
        </p>
        <h4>Правоохоронні органи</h4>
        <p>
            За певних обставин Компанія може бути зобов'язана розкрити Ваші Персональні дані, якщо цього вимагає закон або у
            відповідь на обґрунтовані запити державних органів (наприклад, суду або державного органу).
        </p>
        <h4>Інші вимоги законодавства</h4>
        <p>Компанія може розкрити Ваші Персональні дані, добросовісно вважаючи, що такі дії є необхідними:</p>
        <ul>
            <li>Дотримуватися юридичного зобов'язання</li>
            <li>Охороняти та захищати права або майно Товариства</li>
            <li>Запобігати або розслідувати можливі правопорушення у зв'язку з діяльністю Служби</li>
            <li>Захищати особисту безпеку Користувачів Сервісу або громадськості</li>
            <li>Захист від юридичної відповідальності</li>
        </ul>
        <h4>Безпека Ваших персональних даних</h4>
        <p>
            Безпека Ваших персональних даних важлива для нас, але пам'ятайте, що жоден спосіб передачі через Інтернет, або
            метод електронного зберігання не є на 100% безпечним. Хоча Ми прагнемо використовувати комерційно прийнятні
            засоби для захисту Ваших Персональних Даних, Ми не можемо гарантувати їх абсолютну безпеку.
        </p>
        <h4>Конфіденційність дітей</h4>
        <p>
            Наша Служба не звертається до осіб, які не досягли 13-річного віку. Ми свідомо не збираємо особисту інформацію
            інформацію від осіб молодше 13 років. Якщо Ви є батьком або опікуном і знаєте, що Ваша дитина надала надала Нам
            персональні дані, будь ласка, зв'яжіться з Нами. Якщо Нам стане відомо, що Ми зібрали Персональні дані від
            особи, яка не досягла 13-річного віку, без перевірки згоди батьків, ми вживаємо заходів для видалення цієї
            інформації з Наших серверів.
        </p>
        <p>
            Якщо Нам необхідно покладатися на згоду як на правову основу для обробки Вашої інформації, а Ваша країна вимагає
            згоди від батьків, Ми можемо вимагати згоду Ваших батьків, перш ніж збирати та використовувати цю інформацію.
        </p>
        <h4>Посилання на інші веб-сайти</h4>
        <p>
            Наш Сервіс може містити посилання на інші веб-сайти, які не управляються Нами. Якщо Ви натиснете на посилання
            третьої сторони, Ви будете перенаправлені на сайт цієї третьої сторони. Ми настійно рекомендуємо Вам
            ознайомитися з Політикою конфіденційності кожного сайту який Ви відвідуєте.
        </p>
        <p>
            Ми не контролюємо і не несемо відповідальності за зміст, політику конфіденційності або практику будь-яких третіх
            сайтів або послуг третіх осіб.
        </p>
        <h4>Зміни до цієї Політики конфіденційності</h4>
        <p>
            Ми можемо час від часу оновлювати нашу Політику конфіденційності. Ми повідомимо Вас про будь-які зміни,
            опублікувавши нову Політику конфіденційності на цій сторінці.
        </p>
        <p>
            Ми повідомимо Вас про це електронною поштою та/або помітним повідомленням на нашому Сервісі до того, як зміни
            набудуть чинності і оновити дату "Останнього оновлення" у верхній частині цієї Політики
            конфіденційності.
        </p>
        <p>
            Рекомендується періодично переглядати цю Політику конфіденційності на предмет будь-яких змін. Зміни до цієї
            Політики конфіденційності вступають в силу з моменту їх розміщення на цій сторінці.
        </p>
        <h4>Зв'яжіться з нами</h4>
        <p>Якщо у Вас виникли питання щодо цієї Політики конфіденційності, Ви можете зв'язатися з нами:</p>
        <ul>
            <li>За електронною адресою: klangshop2022@gmail.com</li>
        </ul>
        <br />
        <br />
        <br />
        <br />
    </div>
</main>

@section Footer {
    <div class="container text-muted py-5">
        <p class="float-end mb-1"><a class="btn btn-outline-dark" href="#">^</a></p>
        <p class="mb-1" style="word-wrap: normal">+38&nbsp;(050)&nbsp;980&#8209;98&#8209;42</p>
        <p class="mb-1">klangshop2022@gmail.com</p>
        <p class="mb-1">&copy; @DateTime.Now.Year, KlangShop &middot;@Html.ActionLink("Головна", "Main")</p>
    </div>
}
